*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
O que devo saber fazer e como me portar na entrevista, para conseguir uma vaga
 */
body{
    font-family: 16px Arial, Helvetica, sans-serif;
    color: #121214;

}
